@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&family=Roboto+Slab:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}
.navbar-dark .navbar-nav .nav-link {
  color: #FF97B3;
}
.carousel-container {
  background-color: blanchedalmond;
  width: 100%;
  height: 300px;
}